<form class="search-location-form">
  <div class="dropdown">
    <input id="location-field" class="search-field" placeholder='Type A Location' name='location-form'>
    <div id="location-dropdown" class="dropdown-content"></div>
  </div>
</form>
