<p class="intro-text">
  This Surf Forecast API provides data from nearly six
  thousand surfs spots around the world, free of charge.
  With the use of webscraping, each surf spot on
  MagicSeaweed.com has been catalogued and forecasts are
  served up in JSON format.
</P>
