<div id="route-cont" class="routes-section">
  <h2 class="base-url"><span class="base-label">Base Url:</span> https://surf-forecast-api.herokuapp.com</h2>
  <h2 class="routes-title">Get Routes</h2>
  <p id="search-locations" class="route">/api/v1/search/locations?query=string</p>
  <p id="surf-forecast" class="route selected">/api/v1/:spot_id/surf</p>
  <p id="all-locations" class="route">/api/v1/locations</p>
</div>
