<div class="routes-section">
  <h2 class="routes-title">Routes</h2>
  <p class="route">/api/v1/search/locations?query=string</p>
  <p class="route">/api/v1/:spot_id/surf</p>
  <p class="route">/api/v1/locations</p>
</div>
