.routes-section {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), -3px -3px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
}

.base-label {
  color: black;
}

.base-url {
  color: #0394fc;
  font-size: 1em;
  font-weight: 900;
  margin-bottom: 25px;
}

.routes-title {
  margin-top: 0;
}

.route {
  color: #0394fc;
  font-size: 1.3em;
  cursor: pointer;
}

.selected {
  text-decoration: underline;
}
