<section id="forecast-container" class="forecast-cont">
  <p class="json">{<br>
      "data": [<br>
          {<br>
              "id": "1",<br>
              "type": "spot",<br>
              "attributes": {<br>
                  "id": 1,<br>
                  "spot_id": 1,<br>
                  "location": "Newquay - Fistral North",<br>
                  "latitude": 50.4184,<br>
                  "longitude": -5.0997<br>
              }<br>
          },<br>
          {<br>
              "id": "905",<br>
              "type": "spot",<br>
              "attributes": {<br>
                  "id": 905,<br>
                  "spot_id": 967,<br>
                  "location": "Newquay - Great Western",<br>
                  "latitude": 50.4162,<br>
                  "longitude": -5.0781<br>
              }<br>
          },<br>
          {<br>
              "id": "1211",<br>
              "type": "spot",<br>
              "attributes": {<br>
                  "id": 1211,<br>
                  "spot_id": 1336,<br>
                  "location": "Newquay - Tolcarne Wedge",<br>
                  "latitude": 50.4176,<br>
                  "longitude": -5.0749<br>
              }<br>
          },<br>
          {<br>
              "id": "1212",<br>
              "type": "spot",<br>
              "attributes": {<br>
                  "id": 1212,<br>
                  "spot_id": 1337,<br>
                  "location": "Newquay - Porth",<br>
                  "latitude": 50.4256,<br>
                  "longitude": -5.0659<br>
              }<br>
          },<br>
          {<br>
              "id": "1223",<br>
              "type": "spot",<br>
              "attributes": {<br>
                  "id": 1223,<br>
                  "spot_id": 1360,<br>
                  "location": "Newquay-  Little Fistral",<br>
                  "latitude": 50.4229,<br>
                  "longitude": -5.1<br>
              }<br>
          },<br>
          {<br>
              "id": "1224",<br>
              "type": "spot",<br>
              "attributes": {<br>
                  "id": 1224,<br>
                  "spot_id": 1361,<br>
                  "location": "Newquay - Fistral South ",<br>
                  "latitude": 50.4141,<br>
                  "longitude": -5.1025<br>
              }<br>
          },<br>
          {<br>
              "id": "1225",<br>
              "type": "spot",<br>
              "attributes": {<br>
                  "id": 1225,<br>
                  "spot_id": 1362,<br>
                  "location": "Newquay - Cribbar",<br>
                  "latitude": 50.4254,<br>
                  "longitude": -5.1026<br>
              }<br>
          },<br>
          {<br>
              "id": "5019",<br>
              "type": "spot",<br>
              "attributes": {<br>
                  "id": 5019,<br>
                  "spot_id": 6025,<br>
                  "location": "Newquay - Towan",<br>
                  "latitude": 50.4175,<br>
                  "longitude": -5.0841<br>
              }<br>
          }<br>
      ]<br>
  } </p>
</section>
