<section id="forecast-container" class="forecast-cont">
  <div class="request-format-bttns">
    <button id="exampleHTML" class="format-bttn">Pretty</button>
    <button id="exampleJSON" class="format-bttn">JSON</button>
  </div>
  <h2 class="location-name"> Newquay - Fistral North </h2>
  <table class="forecast-table">
    <tbody><tr>
      <td>Faded Rating</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Solid Rating</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Issued</td>
      <td>Fri Jan  3 06:00:00 2020</td>
    </tr>
    <tr>
      <td>Minimum Breaking Height</td>
      <td>7ft</td>
    </tr>
    <tr>
      <td>Maximum Breaking Height</td>
      <td>10ft</td>
    </tr>
    <tr>
      <td>Wind Speed</td>
      <td>17mph</td>
    </tr>
    <tr>
      <td>Wind Gusts</td>
      <td>20mph</td>
    </tr>
    <tr>
      <td>Temperature</td>
      <td>48f</td>
    </tr>
  </tbody></table>
  <div id="carousel-cont" class="carousel-container">
    <div class="carousel">
      <img class="carousel-image initial" src="https://charts-s3.msw.ms/archive/wave/750/1-1578063600-1.gif">
      <img class="carousel-image" src="https://charts-s3.msw.ms/archive/wave/750/1-1578063600-2.gif">
      <img class="carousel-image" src="https://charts-s3.msw.ms/archive/gfs/750/1-1578063600-4.gif">
      <img class="carousel-image" src="https://charts-s3.msw.ms/archive/gfs/750/1-1578063600-3.gif">
      <div id="next-bttn" class="carousel-next-button"></div>
      <div id="prev-bttn" class="carousel-prev-button"></div>
    </div>
  </div>
</section>
