header {
  background-color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 30px;
  width: 100%;
}

.surfs-up {
  font-size: 3em;
  margin: 0;
  background: linear-gradient(white 0%, #34c6eb 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Galada", cursive;
}
